<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title th:text="'Tag: ' + ${tag.name}"></title>
</head>
<body>
    <header>
        <h1 th:text="${tag.name}"></h1>
    </header>
    <main>
        <ul>
            <li th:each="review : ${tag.reviews}">
                <a th:href="@{/reviews/} + ${review.id}">
                    <span th:text="${review.reviewTitle}">
                    </span>
                </a>
            </li>
        </ul>
    </main>
    <footer>
        <a class="goHomeLink" th:href="@{/reviews}">Return to home page</a>
        <p class="copyrightInfo">Copyright 2018 Andy Padula</p>
    </footer>
</body>
</html>